---
page_title: "Hurricane Electric DNS Provider"
description: |-
  DNS records management for [dns.he.net](https://dns.he.net). 
---

# Schemas Provider

This provider provides data sources and resources to manage [dns.he.net](https://dns.he.net).

## Maturity

> _The code in this repository should be considered experimental. Documentation is only
available alongside the code. It comes with no support, but we are keen to receive
feedback on the product and suggestions on how to improve it, though we cannot commit
to resolution of any particular issue. No SLAs are available. It is not meant to be used
in production environments, and the risks are unknown/high._

## Example usage

Configure the [Hurricane Electric DNS Terraform Provider](https://registry.terraform.io/providers/SuperBuker/dns-he-net/latest)
to access your account. The 2FA seed can be obtained by exporting th current one or
regreating the seed.

2FA authentication can only be performed once every 30 seconds, so this provider stores
in disk the lastest retrieved authentication cookie. It's highly recommended to use an
`store_type="encrypted"` to avoid storing the cookie in plain text.

If no 2FA is being used, using `store_type="dummy"` is recommended.
Anyway, we always encurage using 2FA if it's available.

Using only username and password:

{{ tffile "examples/provider/provider_basicauth.tf" }}

Using also 2FA:

{{ tffile "examples/provider/provider_2fa.tf" }}

{{ .SchemaMarkdown | trimspace }}
